<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cubrid.cubridquery.plugin.querybrowser.Perspective"
            id="org.cubrid.cubridquery.plugin.querybrowser.Perspective"
            name="Queryt browser plugin">
      </perspective>
   </extension>
       <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cubrid.cubridtools.ui.view.category"
            name="%viewCategory"/>
      <view
            allowMultiple="false"
            category="com.cubrid.cubridtools.ui.view.category"
            name="%navigatorViewName"
            icon="icons/database.png"
            class="com.cubrid.cubridquery.ui.common.navigator.CubridQueryNavigatorView"
            id="com.cubrid.cubridquery.connection.navigator">
      </view>
    </extension>
</plugin>
