<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cubrid.cubridmanager.ui.host.editor.UnifyHostConfigEditor"
            default="false"
            icon="icons/action/settings.png"
            id="com.cubrid.cubridmanager.ui.host.editor.UnifyHostConfigEditor"
            name="%unifyHostEditorName">
      </editor>
         <editor
         	   id="com.cubrid.cubridmanager.ui.logs.editor.LogEditorPart"
               class="com.cubrid.cubridmanager.ui.logs.editor.LogEditorPart"
               default="false"
               icon="icons/navigator/log_item.png"
               name="%logEditorName">
         </editor>
         <editor
         	   id="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseStatusEditor"
               class="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseStatusEditor"
               default="false"
               icon="icons/navigator/volume_group.png"
               name="%dbStatusEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeInformationEditor"
               default="false"
               icon="icons/navigator/volume_item.png"
               id="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeInformationEditor"
               name="%volInfoEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeFolderInfoEditor"
               default="false"
               icon="icons/navigator/volume_group.png"
               id="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeFolderInfoEditor"
               name="%volInfoEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.user.editor.UserEditor"
               default="false"
               icon="icons/navigator/user_item.png"
               id="com.cubrid.cubridmanager.ui.cubrid.user.editor.UserEditor"
               name="%userEditorName">
         </editor>
         <editor
            class="com.cubrid.cubridmanager.ui.replication.editor.ReplicationEditor"
            icon="icons/replication/replication.gif"
            contributorClass="com.cubrid.cubridmanager.ui.replication.editor.ReplEditorActionBarContributor"
            default="false"
            id="com.cubrid.cubridmanager.ui.replication.editor.ReplicationEditor"
            name="%createReplication">
          </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.mondashboard.editor.MonitorDashboardEditor"
               contributorClass="com.cubrid.cubridmanager.ui.mondashboard.editor.MonitorDashboardActionBarContributor"
               default="false"
               icon="icons/navigator/status_item.png"
               id="com.cubrid.cubridmanager.ui.mondashboard.editor.MonitorDashboardEditor"
               name="%monitorDashboardEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.host.editor.EditCMCubridBrokerConfPart"
               default="false"
               icon="icons/action/property.png"
               id="com.cubrid.cubridmanager.ui.host.editor.EditCMCubridBrokerConfPart"
               name="%editBrokerConfigEditorName">
         </editor>
          <editor
               class="com.cubrid.cubridmanager.ui.host.editor.EditCmConfigEditor"
               default="false"
               icon="icons/action/property.png"
               id="com.cubrid.cubridmanager.ui.host.editor.EditCmConfigEditor"
               name="%editCmConfigEditorName">
         </editor>
          <editor
               class="com.cubrid.cubridmanager.ui.host.editor.EditCubridConfigEditor"
               default="false"
               icon="icons/action/property.png"
               id="com.cubrid.cubridmanager.ui.host.editor.EditCubridConfigEditor"
               name="%editCubridConfigEditorName">
         </editor>
          <editor
               class="com.cubrid.cubridmanager.ui.host.editor.EditHAConfigEditor"
               default="false"
               icon="icons/action/property.png"
               id="com.cubrid.cubridmanager.ui.host.editor.EditHAConfigEditor"
               name="%editHaConfigEditorName">
         </editor>
          <editor
                class="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseDashboardEditor"
                default="false"
                icon="icons/navigator/database_dashboard.png"
                id="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseDashboardEditor"
                name="%dbDashboardEditorName">
          </editor>
          <editor
       		   class="com.cubrid.cubridmanager.ui.monstatistic.editor.MonitorStatisticEditor"
               default="false"
         	   id="com.cubrid.cubridmanager.ui.monstatistic.editor.MonitorStatisticEditor"
               icon="icons/navigator/status_item.png"
               name="%monitorStatisticEditorName">
      	  </editor>
          <editor
                class="com.cubrid.cubridmanager.ui.host.editor.HostDashboardEditor"
                default="false"
                icon="icons/navigator/database_dashboard.png"
                id="com.cubrid.cubridmanager.ui.host.editor.HostDashboardEditor"
                name="%hostDashboardEditorName">
          </editor>
           <editor
                class="com.cubrid.cubridmanager.ui.service.editor.ServiceDashboardEditor"
                default="false"
                icon="icons/navigator/database_dashboard.png"
                id="com.cubrid.cubridmanager.ui.service.editor.ServiceDashboardEditor"
                name="%serviceDashboardEditorName">
          </editor>
          <editor
                class="com.cubrid.cubridmanager.ui.cubrid.jobauto.editor.JobAutoDashboardEditorPart"
                default="false"
                icon="icons/navigator/auto_group.png"
                id="com.cubrid.cubridmanager.ui.cubrid.jobauto.editor.JobAutoDashboardEditorPart"
                name="%jobAutoDetailInfoPartName">
          </editor>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.cubrid.cubridmanager.ui.mondashboard.preference.DashboardPreferencePage"
             id="com.cubrid.cubridmanager.ui.preference.mondashboard"
             name="%monitorDashboardEditorName">
			<keywordReference id="Dashboard.color"/>
			<keywordReference id="Dashboard.heartbeat"/>
       </page>
    </extension>
	<extension point="org.eclipse.ui.keywords">
		<keyword label="color" id="Dashboard.color"/>
		<keyword label="heartbeat" id="Dashboard.heartbeat"/>
	</extension>
    <extension
          point="org.eclipse.ui.views">
       <category
            id="com.cubrid.cubridtools.ui.view.category"
            name="%viewCategory"/>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.StatusMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.StatusMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%statusMonitorViewName">
       </view>
        <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.BrokerStatusMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.BrokerStatusMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%brokerStatusMonitorViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.DbStatusDumpMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.DbStatusDumpMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbStatusDumpMonitorViewName">
       </view>
        <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.BrokerStatusHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.BrokerStatusHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%brokerHistoryStatusViewName">
       </view>
        <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.DbStatusHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.DbStatusHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbHistoryStatusViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.HostSystemMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.HostSystemMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%hostSystemMonitorViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.DbSystemMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.DbSystemMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbSystemMonitorViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.HostSystemMonitorHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.HostSystemMonitorHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%hostSystemMonitorHistoryViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.DbSystemMonitorHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.DbSystemMonitorHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbSystemMonitorHistoryViewName">
       </view>
              <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.mondashboard.editor.HostDashboardViewPart"
               class="com.cubrid.cubridmanager.ui.mondashboard.editor.HostDashboardViewPart"
               icon="icons/navigator/status_item.png"
               name="%hostDashboardViewName">
       </view>
        <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.mondashboard.editor.DatabaseDashboardViewPart"
               class="com.cubrid.cubridmanager.ui.mondashboard.editor.DatabaseDashboardViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbServerDashboardViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.monstatistic.editor.MonitorStatisticDetailViewPart"
               class="com.cubrid.cubridmanager.ui.monstatistic.editor.MonitorStatisticDetailViewPart"
               icon="icons/navigator/status_item.png"
               name="%monitorStatisticDetailViewName">
       </view>  
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.mondashboard.editor.DbDashboardHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.mondashboard.editor.DbDashboardHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%dbDashboardHistoryViewName">
       </view>
       <view
       		   category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
         	   id="com.cubrid.cubridmanager.ui.mondashboard.editor.HostDashboardHistoryViewPart"
               class="com.cubrid.cubridmanager.ui.mondashboard.editor.HostDashboardHistoryViewPart"
               icon="icons/navigator/status_item.png"
               name="%hostDashboardHistoryViewName">
       </view>
       <view
               category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
               class="com.cubrid.cubridmanager.ui.broker.editor.BrokerEnvStatusView"
               icon="icons/navigator/broker_group.png"
               id="com.cubrid.cubridmanager.ui.broker.editor.BrokerEnvStatusView"
               name="%brokersStatusViewName">
        </view>
        <view
              allowMultiple="true"
              category="com.cubrid.cubridtools.ui.view.category"
              class="com.cubrid.cubridmanager.ui.broker.editor.BrokerStatusView"
              icon="icons/navigator/broker.png"
              id="com.cubrid.cubridmanager.ui.broker.editor.BrokerStatusView"
              name="%brokerStatusViewName">
        </view>
        <view
               category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"
               class="com.cubrid.cubridmanager.ui.shard.editor.ShardEnvStatusView"
               icon="icons/navigator/broker_group.png"
               id="com.cubrid.cubridmanager.ui.shard.editor.ShardEnvStatusView"
               name="%brokersStatusViewName">
        </view>
         <view
              allowMultiple="true"
              category="com.cubrid.cubridtools.ui.view.category"
              class="com.cubrid.cubridmanager.ui.mondashboard.editor.BrokerDashboardViewPart"
              icon="icons/navigator/broker.png"
              id="com.cubrid.cubridmanager.ui.mondashboard.editor.BrokerDashboardViewPart"
              name="%brokerDashboardViewName">
        </view>
         <view
               category="com.cubrid.cubridtools.ui.view.category"
               allowMultiple="true"              
               class="com.cubrid.cubridmanager.ui.replication.editor.ReplicationMonitorViewPart"
               icon="icons/replication/replication.gif"
               id="com.cubrid.cubridmanager.ui.replication.editor.ReplicationMonitorViewPart"
               name="%replicationMonitorViewName">
        </view>
        <view
            allowMultiple="false"
            category="com.cubrid.cubridtools.ui.view.category"
            name="%monitorNavigatorViewName"
            icon="icons/navigator/status_group.png"
            class="com.cubrid.cubridmanager.ui.common.navigator.CubridMonitorNavigatorView"
            id="com.cubrid.cubridmanager.dashboard.navigator">
      </view>
      <view
            allowMultiple="false"
            category="com.cubrid.cubridtools.ui.view.category"
            name="%hostNavigatorViewName"
            icon="icons/host.png"
            class="com.cubrid.cubridmanager.ui.common.navigator.CubridHostNavigatorView"
            id="com.cubrid.cubridmanager.host.navigator">
      </view>
    </extension>
    <extension
          point="com.cubrid.common.ui.queryNavigatorMenus">
      <navigatorMenu
             class="com.cubrid.cubridmanager.ui.common.control.CMDatabaseNavigatorMenu"/>         
    </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           description="In CM Schema Navigator"
           id="com.cubrid.cubridmanager.contexts.navigator"
           name="In CM Schema Navigator"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
 	<extension
       point="org.eclipse.ui.bindings">
    	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridmanager.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F5">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridmanager.ui.common.action.RefreshAction" />
   		</key>
       	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridmanager.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="ALT+ENTER">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridmanager.ui.common.action.PropertyAction" />
   		</key> 
    	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridmanager.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+T">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridmanager.ui.common.action.QueryNewAction" />
   		</key>    
	</extension>
  <extension
        point="org.eclipse.ui.editors">
  </extension>
</plugin>
