<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="com.cubrid.common.ui.queryNavigatorMenus">
      <navigatorMenu
             class="com.cubrid.cubridquery.ui.common.control.CQDatabaseNavigatorMenu"/>         
    </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           description="In CQB Schema Navigator"
           id="com.cubrid.cubridquery.contexts.navigator"
           name="In CQB Schema Navigator"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
 
 	<extension
       point="org.eclipse.ui.bindings">
    	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridquery.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F5">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridquery.ui.common.action.RefreshAction" />
   		</key>
       	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridquery.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="ALT+ENTER">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridquery.ui.common.action.PropertyAction" />
   		</key>
    	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.cubridquery.contexts.navigator"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+T">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.cubridquery.ui.common.action.QueryNewAction" />
   		</key>  
	</extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="com.cubrid.cubridquery.ui.common.editor.UserEditor"
           default="false"
           icon="icons/navigator/user_item.png"
           id="com.cubrid.cubridquery.ui.common.editor.UserEditor"
           name="%userEditorName">
     </editor>
  </extension>
</plugin>
