<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="queryNavigatorMenus" name="Query Browser Navigator Menus" schema="schema/queryNavigatorMenus.exsd"/>
   <extension
            point="org.eclipse.ui.editors">
         <editor
         	   id="com.cubrid.common.ui.common.notice.control.NoticeDashboardEditor"
               class="com.cubrid.common.ui.common.notice.control.NoticeDashboardEditor"
               default="false"
               icon="icons/new_info.png"
               name="%noticeDashboard">
         </editor>
         <editor
         	   id="com.cubrid.common.ui.common.control.CubridNewInfoEditorPart"
               class="com.cubrid.common.ui.common.control.CubridNewInfoEditorPart"
               default="false"
               icon="icons/new_info.png"
               name="%cubridInfoEditor">
         </editor>
          <editor
         	   id="com.cubrid.common.ui.common.notice.control.CubridNoticeInfoEditorPart"
               class="com.cubrid.common.ui.common.control.CubridNoticeInfoEditorPart"
               default="false"
               icon="icons/notice_info.png"
               name="%cubridNoticeEditor">
         </editor> 
         <editor
         	   id="com.cubrid.common.ui.query.editor.QueryEditorPart"
               class="com.cubrid.common.ui.query.editor.QueryEditorPart"
               default="false"
               icon="icons/queryeditor/query_editor.png"
               name="%queryEditorName">
         </editor>
         <editor
               class="com.cubrid.common.ui.cubrid.table.control.SchemaInfoEditorPart"
               default="false"
               icon="icons/navigator/schema_table.png"
               id="com.cubrid.common.ui.cubrid.table.control.SchemaInfoEditorPart"
               name="%schemaEditorName">
         </editor>
         <editor
         	   id="com.cubrid.common.ui.common.sqlrunner.part.RunSQLFileViewPart"
               class="com.cubrid.common.ui.common.sqlrunner.part.RunSQLFileViewPart"
               default="false"
               icon="icons/queryeditor/query_editor.png"
               name="%runSQLFileViewPartName">
         </editor>
         <editor
               class="com.cubrid.common.ui.common.control.BrowserEditorPart"
               default="false"
               icon="icons/cubrid_web_site.gif"
               id="com.cubrid.common.ui.common.control.BrowserEditorPart"
               name="%webBrowserName">
         </editor>
         <editor
               class="com.cubrid.common.ui.common.control.NewFeatureEditorPart"
               default="false"
               icon="icons/cubrid_web_site.gif"
               id="com.cubrid.common.ui.common.control.NewFeatureEditorPart"
               name="%newFeatureName">
         </editor>
         <editor
               class="com.cubrid.common.ui.cubrid.table.dashboard.control.TableDashboardPart"
               default="false"
               icon="icons/navigator/schema_table.png"
               id="com.cubrid.common.ui.cubrid.table.dashboard.control.TableDashboardPart"
               name="%tablesDetailInfoName">
         </editor>
         <editor
               class="com.cubrid.common.ui.compare.schema.control.TableSchemaCompareInfoPart"
               default="false"
               icon="icons/action/schema_compare_wizard.png"
               id="com.cubrid.common.ui.compare.schema.control.TableSchemaCompareInfoPart"
               name="%schemaCompareName">
         </editor>
         <editor
               class="com.cubrid.common.ui.compare.data.control.DataCompareEditorPart"
               default="false"
               icon="icons/action/data_compare_wizard.png"
               id="com.cubrid.common.ui.compare.data.control.DataCompareEditorPart"
               name="%dataCompareName">
         </editor>
         <editor
               class="com.cubrid.common.ui.compare.data.control.DataCompareDetailEditorPart"
               default="false"
               icon="icons/action/data_compare_wizard.png"
               id="com.cubrid.common.ui.compare.data.control.DataCompareDetailEditorPart"
               name="%dataCompareDetailName">
         </editor>
         <editor
               class="com.cubrid.common.ui.cubrid.table.dialog.imp.ImportDataViewPart"
               default="false"
               id="com.cubrid.common.ui.cubrid.table.dialog.imp.ImportDataViewPart"
               name="%importDataViewPartName">
         </editor>
         <editor
               class="com.cubrid.common.ui.cubrid.table.dialog.exp.ExportDataViewPart"
               default="false"
               id="com.cubrid.common.ui.cubrid.table.dialog.exp.ExportDataViewPart"
               name="%exportDataViewPartName">
         </editor>
         <editor
               class="com.cubrid.common.ui.common.control.BrokerConfigEditorPart"
               default="false"
               icon="icons/queryeditor/query_editor.png"
               id="com.cubrid.common.ui.common.control.CubridBrokerConfEditorPart"
               name="%cubridBrokerConfEditorPartName">
         </editor>
    <editor
          class="com.cubrid.common.ui.cubrid.table.editor.TableEditorPart"
          default="false"
          icon="icons/navigator/schema_table.png"
          id="com.cubrid.common.ui.cubrid.table.editor.TableEditorPart"
          name="%tableInfoEditorName">
    </editor>
    <editor
          class="com.cubrid.common.ui.cubrid.view.editor.ViewDashboardEditorPart"
          default="false"
          icon="icons/navigator/schema_view.png"
          id="com.cubrid.common.ui.cubrid.view.editor.ViewDashboardEditorPart"
          name="%viewsDetailInfoName">
    </editor>
    <editor
          class="com.cubrid.common.ui.cubrid.serial.editor.SerialDashboardEditorPart"
          default="false"
          icon="icons/navigator/serial_group.png"
          id="com.cubrid.common.ui.cubrid.serial.editor.SerialDashboardEditorPart"
          name="%serialsDetailInfoName">
    </editor>
    <editor
          class="com.cubrid.common.ui.cubrid.trigger.editor.TriggerDashboardEditorPart"
          default="false"
          icon="icons/navigator/trigger_group.png"
          id="com.cubrid.common.ui.cubrid.trigger.editor.TriggerDashboardEditorPart"
          name="%triggersDetailInfoName">
    </editor>
    <editor
          class="com.cubrid.common.ui.cubrid.user.editor.UserDashboardEditorPart"
          default="false"
          icon="icons/navigator/user_group.png"
          id="com.cubrid.common.ui.cubrid.user.editor.UserDashboardEditorPart"
          name="%usersDetailInfoName">
    </editor>
       <editor
          class="com.cubrid.common.ui.cubrid.table.progress.ExportQueryResultDataViewPart"
          id="com.cubrid.common.ui.cubrid.table.progress.ExportQueryResultDataViewPart"
          default="false"
          icon="icons/queryeditor/query_editor.png"
          name="%exportData">
     </editor>
     <editor
          class="com.cubrid.common.ui.cubrid.table.progress.ExportDataViewPart"
          id="com.cubrid.common.ui.cubrid.table.progress.ExportDataViewPart"
          default="false"
          icon="icons/queryeditor/query_editor.png"
          name="%exportData">
      </editor>
         <editor
         	   id="com.cubrid.common.ui.er.editor.SchemaEditor"
               class="com.cubrid.common.ui.er.editor.ERSchemaEditor"
               default="false"
               icon="icons/action/schema_edit_on.png"
               name="%schemaEditorName">
         </editor>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.cubrid.common.ui.query.preference.QueryOptionPreferencePage"
             id="com.cubrid.common.ui.preference.queryoption"
             category="com.cubrid.common.ui.preference.category"
             name="%queryOptionPageName">
			<keywordReference id="Query.commit"/>
			<keywordReference id="Query.result"/>
			<keywordReference id="Query.CLOB"/>
			<keywordReference id="Query.BLOB"/>
			<keywordReference id="Query.prompt"/>
			<keywordReference id="Query.keyword"/>
			<keywordReference id="Query.scientific"/>
			<keywordReference id="Query.font"/>
       </page>
       <page
             class="com.cubrid.common.ui.common.preference.JdbcManagePreferencePage"
             id="com.cubrid.common.ui.preference.jdbcmanage"
             category="com.cubrid.common.ui.preference.category"
             name="%jdbcManagePageName">
			<keywordReference id="Jdbc.update"/>
			<keywordReference id="Jdbc.add"/>
			<keywordReference id="Jdbc.delete"/>
       </page>
       <page
             category="com.cubrid.common.ui.preference.category"
             class="com.cubrid.common.ui.cubrid.table.preference.ImportPreferencePage"
             id="com.cubrid.common.ui.preference.ImportPreferencePage"
             name="%importOptions">
			<keywordReference id="Import.null"/>
			<keywordReference id="Import.export"/>
			<keywordReference id="Import.import"/>
       </page>
       <page
             category="com.cubrid.common.ui.preference.category"
             class="com.cubrid.common.ui.common.preference.NavigatorPreferencePage"
             id="com.cubrid.common.ui.preference.navigator"
             name="%navigatorName">
       </page>
    </extension>
	<extension point="org.eclipse.ui.keywords">
		<keyword label="commit" id="Query.commit"/>
		<keyword label="result" id="Query.result"/>
		<keyword label="CLOB" id="Query.CLOB"/>
		<keyword label="BLOB" id="Query.BLOB"/>
		<keyword label="prompt" id="Query.prompt"/>
		<keyword label="keyword" id="Query.keyword"/>
		<keyword label="scientific" id="Query.scientific"/>
		<keyword label="font" id="Query.font"/>
		<keyword label="update" id="Jdbc.update"/>
		<keyword label="add" id="Jdbc.add"/>
		<keyword label="delete" id="Jdbc.delete"/>
		<keyword label="null" id="Import.null"/>
		<keyword label="export" id="Import.export"/>
		<keyword label="import" id="Import.import"/>
	</extension>
    <extension
          point="org.eclipse.ui.views">
       <category
            id="com.cubrid.cubridtools.ui.view.category"
            name="%viewCategory"/> 
        <view
              category="com.cubrid.cubridtools.ui.view.category"
              class="com.cubrid.common.ui.common.navigator.CubridColumnNavigatorView"
              icon="icons/navigator/mini_schema_columns.png"
              id="com.cubrid.common.navigator.columns"
              name="%columnViewName"
              restorable="true">
        </view>
        <view
              category="com.cubrid.cubridtools.ui.view.category"
              class="com.cubrid.common.ui.common.navigator.CubridIndexNavigatorView"
              icon="icons/navigator/table_index_item.png"
              id="com.cubrid.common.navigator.indexs"
              name="%indexViewName"
              restorable="true">
        </view>
        <view
              class="com.cubrid.common.ui.common.navigator.CubridDdlNavigatorView"
              icon="icons/navigator/mini_schema_ddl.png"
              id="com.cubrid.common.navigator.ddl"
              name="%ddlViewName"
              restorable="true">
        </view>
       <view
              class="com.cubrid.common.ui.er.editor.ERDThumbnailViewPart"
              icon="icons/er/thumbnail.gif"
              id="com.cubrid.common.ui.er.part.ERDThumbnailViewPart"
              name="%erdThumbnailViewName"
              restorable="true">
        </view>
        <view
              category="com.cubrid.cubridtools.ui.view.category"
              class="com.cubrid.common.ui.common.navigator.FavoriteQueryNavigatorView"
              icon="icons/navigator/favorite_query.png"
              id="com.cubrid.common.navigator.favoritequery"
              name="%favoriteQueryViewName"
              restorable="true">
        </view>
        <view
              class="com.cubrid.common.ui.query.sqlmap.SqlmapNavigatorView"
              id="com.cubrid.common.navigator.sqlmapview"
              name="%sqlmapViewName"
              restorable="true">
        </view>
    </extension>
 
 	<!--Define context for navigator and query editor  -->
 	<extension
           point="org.eclipse.ui.contexts">
   		<context
          id="com.cubrid.ui.contexts.queryeditor"
          name="In Query Editor"
          description="In Query Editor"
          parentId="org.eclipse.ui.contexts.window">
   	    </context>
	</extension>
	
	<!-- Define commands for navigator action -->
	<extension
       point="org.eclipse.ui.commands">
    	 <category
           id="com.cubrid.ui.category.navigator"
           name="Schema Navigator"
           description="Schema Navigator">
    	 </category>
    	<command
           categoryId="com.cubrid.ui.category.navigator"
           id="com.cubrid.ui.commands.navigator"
           name="Navigator Action"
           description="Navigator Action"
           defaultHandler="com.cubrid.common.ui.spi.action.DefaultActionHandler">         
           <commandParameter
        		id="com.cubrid.navigator.action.id"
        		name="Navigator Action ID"
        		values="org.eclipse.ui.internal.registry.ViewParameterValues" />        
   	    </command>
	</extension>
	
	<!-- Define commands for query editor action -->
	<extension
       point="org.eclipse.ui.commands">
    	 <category
           id="com.cubrid.ui.category.queryeditor"
           name="Query Editor"
           description="Query Editor">
    	 </category>
    	<command
           categoryId="com.cubrid.ui.category.queryeditor"
           id="com.cubrid.query.command.format"
           name="SQL Format"
           description="SQL Format">        
   	    </command>
    	<command
           categoryId="com.cubrid.ui.category.queryeditor"
           id="com.cubrid.query.command.contentAssist.proposals"
           name="SQL Content Assist Proposals"
           description="SQL Content Assist Proposals">        
   	    </command>
	</extension>
	
	<!-- Key binds for query editor actions -->
 	<extension
       point="org.eclipse.ui.bindings">
    	<key
          commandId="com.cubrid.query.command.format"
          contextId="com.cubrid.ui.contexts.queryeditor"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+F">
   		</key>
    	<key
          commandId="com.cubrid.query.command.contentAssist.proposals"
          contextId="com.cubrid.ui.contexts.queryeditor"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M3+/">
   		</key> 
     	<key
          commandId="com.cubrid.ui.commands.navigator"
          contextId="com.cubrid.ui.contexts.queryeditor"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+T">
          <parameter 
            id="com.cubrid.navigator.action.id"
            value="com.cubrid.common.ui.query.action.CopyQueryEditorAction" />
   		</key>  
	</extension>
</plugin>
